<div class="row">
    <h1><%= @user.first_name %> <%= @user.last_name %></h1>
    <h4><%= @user.headline %></h4>
</div>
<div class="row">
    <div class="col-md-4">
        <img src="<%= @user.profile_image  %>" alt="<%= @user.first_name %> <%= @user.last_name %>" class="img-circle img-responsive">
    </div>
    <div class="col-md-8">
        <div class="row">
            <label class="col-sm-2">Available for hire</label>
            <div class="col-sm-10">
                <p><%= @user.available_for_hire? ? "Yes" : "No" %></p>
            </div>
        </div>
        <div class="row">
            <label class="col-sm-2">Description</label>
            <div class="col-sm-10">
                <p><%= @user.description %></p>
            </div>
        </div>
        <div class="row">
            <label class="col-sm-2">Twitter handle</label>
            <div class="col-sm-10">
                <p><%= @user.twitter_handle %></p>
            </div>
        </div>
        <% unless @user.email_private? %>
        <div class="row">
            <label class="col-sm-2">Email</label>
            <div class="col-sm-10">
                <p><%= @user.email %></p>
            </div>
        </div>
        <% end %>
        <div class="row">
            <label class="col-sm-2">LinkedIn Profile</label>
            <div class="col-sm-10">
                <p><%= @user.profile_url %></p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-offset-2 col-sm-10">
                <% if @user == current_user %>
                <%= link_to 'Edit', edit_user_registration_path(@user), class: "btn btn-default" %>
                <% end %>
            </div>
        </div>
    </div>
</div>
