<% @users.each do |user| %>
<div class="row">
    <div class="col-md-4">
        <h2><%= user.first_name %> <%= user.last_name %></h2>
        <h4><%= user.headline %></h4>

        <img src="<%= user.profile_image  %>" alt="<%= user.first_name %> <%= user.last_name %>" class="img-circle img-responsive">
    </div>
    <div class="col-md-8">
        <%= user.email %>
        <%= user.profile_url %>
    </div>
</div>
<% if user == current_user %>
    <div class="row">
        <%= link_to 'Edit', edit_user_registration_path(user), class: "btn btn-primary" %>
    </div>
<% end %>
<% end %>
<%= paginate @users %>