<% @users.each do |user| %>
    <div class="media">
        <div class="pull-left">
            <a href="#">
                <img class="media-object img-circle" src="<%= user.profile_image %>" alt="<%= user.first_name %> <%= user.last_name %>">
            </a>
        </div>
        <div class="media-body">
            <h4 class="media-heading"><%= user.first_name %> <%= user.last_name %></h4>
            <h5><%= user.headline %></h5>
            <p><%= user.available_for_hire? %></p>
            <p><%= user.description %></p>
            <p><%= user.twitter_handle %></p>
            <p><%= user.email %></p>
            <p><%= user.profile_url %></p>
            <% if user == current_user %>
                <p><%= link_to 'Edit', edit_user_registration_path(user), class: "btn btn-primary" %></p>
            <% end %>
        </div>
    </div>
<% end %>
<%= paginate @users %>


